<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.petsi">
    <!-- 지도 및 날씨 관련 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--현재 위치(GPS) 가져오기-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Petsi"
        tools:targetApi="31">
        <activity
            android:name=".activity_watching_map"
            android:exported="false" />

        <!-- ✅ MainActivity를 앱 시작 액티비티로 설정 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--산책하기 화면-->
        <activity
            android:name=".WalkingStartPageActivity"
            android:exported="false"/>
        <!--산책 시작-->
        <activity
            android:name=".activity_walking_with_map"
            android:exported="false" />
        <!--산책 결과 화면-->
        <activity android:name=".WalkResultActivity" />

        <!--로그인 페이지-->
        <activity
            android:name=".activitysignin"
            android:exported="false" />

        <!-- ✅ 네이버 지도 API 키 -->
        <meta-data
            android:name="com.naver.maps.map.NCP_KEY_ID"
            android:value="k23b2ztztk" />
        <!-- ✅ 구글 장소 필터링 API 키 -->
        <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBJQf641ng07ZFAANR894VKImePUfvA04I" />

    </application>

</manifest>